<%- include('partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/course.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <title>Noodle</title>
  <body>
    <!-- NAVBAR -->
    <%- include('partials/navbar', { activePage: 'course' }) %>
    <div
      class="d-flex flex-column justify-content-center p-5"
      style="background-color: #e6e8ed; height: 240px; margin-top: 50px"
    >
      <div class="text-dark fs-2 fw-bold">
        <%=course.name%> - <%=course.idClassroom%>
      </div>
      <div class="text-dark fs-5"><%=course.classroom%></div>
    </div>
    <div id="main" style="border-radius: 23px 23px 0px 0px; margin-top: -20px">
      <div class="box-1" style="padding: 50px 80px">
        <div class="fs-3 fw-bold text-danger">
          <img
            style="width: 32px; height: 32px"
            src="/img/course_detail_screen/mingcute_announcement-line.svg"
          />
          Announcements
        </div>
        <div class="fs-3 fw-bold mt-3" style="color: #00b135">
          <img
            style="width: 32px; height: 32px"
            src="/img/course_detail_screen/octicon_comment-discussion-16.svg"
          />
          Discussion Forum
        </div>
      </div>
      <!-- THEORY -->
      <% for (const title in course.materials) {%>
      <!--  -->
      <% if (course.materials.hasOwnProperty(title)){%>

      <div
        class="box-1 mt-5"
        data-collection="<%=title%>"
        style="padding: 20px 60px"
      >
        <button class="toggle-materials btn" type="button">
          <i class="rotate fas fa-angle-right dropdown"></i>
        </button>
        <%if (isLecturer){%>
        <!--  -->
        <button class="toggle-gear btn" type="button">
          <img
            class="rotate"
            style="width: 32px; height: 32px"
            src="/img/course_detail_screen/gear.svg"
          />
        </button>
        <div class="gear-card" data-title="<%=title%>" style="display: none">
          <div class="gear-btn" type="button">
            <input
              type="file"
              name="file"
              id="addFile-<%=title%>"
              class="file addFile gear-input"
            />
            <label for="addFile-<%=title%>"
              ><i class="fa-solid fa-plus"></i> Add files
            </label>
          </div>
          <div class="gear-btn" type="button">
            <i class="fa-solid fa-plus"></i> Add links
          </div>
          <div class="gear-btn" type="button">
            <i class="fa-solid fa-check"></i> Select
          </div>
          <div class="gear-btn" type="button">
            <i class="fa-solid fa-check-double"></i> Select all
          </div>
        </div>
        <%}%>
        <div class="px-4 collection-header">
          <div class="fs-2 fw-bold collection-title"><%=title%></div>
          <div class="fs-5">
            <img
              class="solar-book-outline"
              src="/img/course_detail_screen/solar_book-outline.svg"
            />
            <span>Lesson</span>
            <img class="vector" src="/img/course_detail_screen/Vector.svg" />

            <span class="numSection">
              <%=course.materials[title].length%>
            </span>
            <span>
              <%=course.materials[title].length > 1 ? "Sections" : "Section"%>
            </span>
          </div>
        </div>
        <!-- MATERIALS -->
        <div class="materials collapse">
          <ul
            class="materials-list top-line px-4 mt-4"
            style="padding-top: 40px"
          >
            <%for (filename of course.materials[title]){%>
            <li class="item fs-3">
              <a
                download
                href="/materials/courses/<%=course.classroom%>_<%=course.idClassroom%>/<%=title%>/<%=filename%>"
                class="text-dark"
                style="text-decoration: none"
              >
                <i class="fa-regular fa-file"></i>
                <span class="name"><%=filename%></span>
              </a>
            </li>
            <%}%>
          </ul>
        </div>
      </div>
      <%}%>
      <!--  -->
      <%}%>
    </div>
    <div id="course_id" class="d-none"><%= course.id %></div>
    <%- include('partials/footer') %>
  </body>
  <script>
    function getDegree(element) {
      var previousTransform = element.css("transform");
      // Chỉ tiếp tục nếu có giá trị transform
      if (previousTransform !== "none") {
        // Chuyển đổi chuỗi matrix thành mảng các giá trị
        var values = previousTransform.split("(")[1].split(")")[0].split(",");

        // Lấy các giá trị a và b từ ma trận
        var a = values[0];
        var b = values[1];

        // Tính toán góc xoay (trong radian)
        var angle = Math.round(Math.atan2(b, a) * (180 / Math.PI));

        // In ra giá trị góc xoay
        return angle;
      } else {
        return 0;
      }
    }
    const rotationDegree = 90;
    $(".toggle-materials").on("click", function () {
      const arrow = $(this).children().first();
      const degree = getDegree(arrow);
      // const gear = $(this).parent().find(".toggle-gear").children().first();
      arrow.css("transform", "rotate(" + (90 - degree) + "deg)");
      // gear.css("transform", "rotate(" + (90 - degree) + "deg)");

      $(this)
        .parent()
        .toggleClass("border-orange")
        .find(".materials")
        .collapse("toggle");
    });

    $(".toggle-gear").on("click", function () {
      const gear = $(this).children().first();
      const degree = getDegree(gear);
      gear.css("transform", "rotate(" + (90 - degree) + "deg)");

      $(this).parent().find(".gear-card").slideToggle("fast");
    });
  </script>
  <script>
    $(".gear-card .gear-btn .addFile").on("change", function (event) {
      event.preventDefault();
      const file = this.files[0];
      if (!(this.files && this.files.length > 0)) {
        $(this).val("");
        return;
      }
      $(this).val("");
      var formData = new FormData();
      formData.append("file", file);
      const category = "courses";
      const course_id = $("#course_id").text();
      const collection = $(this).parent().parent().attr("data-title");

      console.log(course_id, collection);
      $.ajax({
        url: `http://localhost:3000/api/upload/?category=${category}&course_id=${course_id}&collection=${collection}`, // URL mà bạn muốn gửi file đến
        type: "POST",
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          console.log("File uploaded successfully");
          console.log(response);
          updateCollection(course_id, collection, response.filename);
        },
        error: function (response) {
          console.error("Error occurred during file upload");
        },
      });
    });
    function updateCollection(course_id, collection, filename) {
      // update numSection
      const numSection = $(`[data-collection="${collection}"]`).find(
        ".numSection"
      );
      var updateVal = Number(numSection.text()) + 1;
      numSection.text(updateVal);
      if (updateVal > 1) {
        numSection.next().text("Sections");
      } else {
        numSection.next().text("Section");
      }
      // update materials list
      const materials_list = $(`[data-collection="${collection}"]`).find(
        ".materials .materials-list"
      );
      materials_list.append(`
      <li class="item fs-3">
        <a
          download
          href="/materials/courses/${course_id}/${collection}/${filename}"
          class="text-dark"
          style="text-decoration: none"
        >
          <i class="fa-regular fa-file"></i>
          <span class="name">${filename}</span>
        </a>
      </li>
      `);
    }
  </script>
</html>
