<%- include('partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Noodle</title>
  </head>
  <body>
    <%-include('partials/navbar', { activePage: 'home' }) %>
    <div class="mt-5"></div>
    <div id="main" style="height: fit-content !important">
      <div class="text-center mb-3 fs-2 fw-bold">ADD USERS</div>
      <div class="d-flex justify-content-center bot-line">
        <span
          id="Manually-trigger"
          class="nav-acc <%= activeSection === 'manually' ? 'active' : '' %>"
          ><a class="btn fs-3" href="/home">Manually</a></span
        >
        <span
          id="automation-trigger"
          class="nav-acc <%= activeSection === 'automation' ? 'active' : '' %>"
          ><a class="btn fs-3" href="/home/?activeSection=automation"
            >Automation</a
          >
        </span>
      </div>
      <div
        id="manually-area"
        class="section <%= activeSection === 'manually' ? 'show' : 'd-none' %>"
      >
        <form class="inpForm">
          <div class="mt-5 mb-3">
            <label for="role-select" class="form-label fs-4 fw-bold"
              >Role</label
            >
            <select
              name="role"
              class="form-control rounded-4 fs-4"
              id="role-select"
            >
              <option value="">Choose...</option>
              <option selected value="student">Student</option>
              <option value="lecturer">Lecturer</option>
              <option value="admin">Admin</option>
            </select>
          </div>

          <!-- STUDENT INPUT -->

          <div id="role-student" class="input-role">
            <div class="mb-3">
              <label for="student-id" class="form-label fs-4 fw-bold"
                >Student ID</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="student-id"
                  name="id"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="student-name" class="form-label fs-4 fw-bold"
                >Name</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="student-name"
                  name="name"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="student-year" class="form-label fs-4 fw-bold"
                >Year</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="student-year"
                  name="year"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="student-gmail" class="form-label fs-4 fw-bold"
                >Gmail</label
              >
              <div class="input-group">
                <input
                  type="email"
                  class="form-control rounded-4 fs-4"
                  id="student-gmail"
                  name="gmail"
                />
              </div>
              <div class="error"></div>
            </div>
          </div>

          <!-- LECTURER INPUT -->

          <div id="role-lecturer" class="input-role">
            <div class="mb-3">
              <label for="lecturer-id" class="form-label fs-4 fw-bold"
                >Lecturer ID</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="lecturer-id"
                  name="id"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="lecturer-name" class="form-label fs-4 fw-bold"
                >Name</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="lecturer-name"
                  name="name"
                />
              </div>
              <div class="error"></div>
            </div>

            <div class="mb-3">
              <label for="lecturer-gmail" class="form-label fs-4 fw-bold"
                >Gmail</label
              >
              <div class="input-group">
                <input
                  type="email"
                  class="form-control rounded-4 fs-4"
                  id="lecturer-gmail"
                  name="gmail"
                />
              </div>
              <div class="error"></div>
            </div>
          </div>

          <!-- ADMIN INPUT -->

          <div id="role-admin" class="input-role">
            <div class="mb-3">
              <label for="admin-id" class="form-label fs-4 fw-bold"
                >Admin ID</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="admin-id"
                  name="id"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="admin-name" class="form-label fs-4 fw-bold"
                >Name</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="admin-name"
                  name="name"
                />
              </div>
              <div class="error"></div>
            </div>

            <div class="mb-3">
              <label for="admin-gmail" class="form-label fs-4 fw-bold"
                >Gmail</label
              >
              <div class="input-group">
                <input
                  type="email"
                  class="form-control rounded-4 fs-4"
                  id="admin-gmail"
                  name="gmail"
                />
              </div>
              <div class="error"></div>
            </div>
          </div>
          <button
            type="submit"
            class="mt-5 btn btn-primary fs-5 mx-auto d-block"
            style="background-color: #0098f9"
          >
            Update</button
          ><!-- Button trigger modal -->
        </form>
      </div>
      <!-- AUTOMATION AREA -->
      <div
        id="automation-area"
        style="padding: 0 100px"
        class="section <%= activeSection === 'automation' ? 'show' : 'd-none' %>"
      >
        <div
          class="drag_and_drop_box"
          style="
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          "
        >
          <div
            class="folder_and_file"
            style="
              width: 100%;
              display: inline-flex;
              justify-content: space-between;
              background: #fff;
            "
          >
            <div
              style="
                display: inline-flex;
                transform: scale(0.6);
                background: #fff;
              "
            >
              <img
                src="/img/homeAdmin_screen/bi_folder.png"
                alt="Folder"
                style="
                  max-width: 100%;
                  height: auto;
                  margin-right: 5%;
                  background: #fff;
                "
              />
              <img
                src="/img/homeAdmin_screen/lucide_file.png"
                alt="File"
                style="max-width: 100%; height: auto; background: #fff"
              />
            </div>

            <div
              style="
                display: inline-flex;
                transform: scale(0.6);
                background: #fff;
              "
            >
              <img
                src="/img/homeAdmin_screen/fe_app-menu.png"
                alt="App Menu"
                style="max-width: 100%; height: auto; background: #fff"
              />
              <img
                src="/img/homeAdmin_screen/charm_menu-hamburger.png"
                alt="Hamburger Menu"
                style="
                  max-width: 100%;
                  height: auto;
                  margin-left: 5%;
                  background: #fff;
                "
              />
            </div>
          </div>
          <hr style="width: 100%; border: 1px solid #000; margin: 10px 0" />
          <label for="input-file" id="drop-area">
            <input type="file" accept=".xlsx, .xls" id="input-file" hidden />
            <div id="img-view">
              <img
                src="/img/homeAdmin_screen/icon-park-solid_down-two.png"
                alt="Download Arrow"
              />
              <p>You can drag and drop only 1 file here to add them.</p>
            </div>
          </label>
          <table id="file-details" class="hidden">
            <tr>
              <th>Name</th>
              <th>Last Modified</th>
              <th>Size</th>
              <th>Type (required)</th>
            </tr>
          </table>
        </div>
        <div
          class="button_update_canceel"
          style="display: flex; justify-content: center; width: 100%"
        >
          <button
            class="button button-update hidden"
            style="margin-right: 40px"
          >
            Update
          </button>
          <button class="button button-cancel hidden">Cancel</button>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="popupModal"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div
            class="modal-body d-flex flex-column gap-3 justify-content-center align-items-center"
            style="height: 250px"
          >
            <i id="popup-sign" style="font-size: 150px"></i>
            <div id="popup-message" class="fs-5 fw-bold text-center"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="user-username" class="d-none"><%= username %></div>
    <%-include('partials/footer') %>
    <script>
      function popUpMessage(status, message, time = 1000) {
        // Show the modal on page load
        const fail_sign = "fa-solid fa-triangle-exclamation text-danger";
        const success_sign = "fa-solid fa-circle-check text-success";
        if (status == "fail") {
          $("#popupModal")
            .find("#popup-sign")
            .removeClass(success_sign)
            .addClass(fail_sign);
        } else {
          $("#popupModal")
            .find("#popup-sign")
            .removeClass(fail_sign)
            .addClass(success_sign);
        }
        $("#popupModal").find("#popup-message").text(message);
        $("#popupModal").modal("show");

        // // Set timeout to hide the modal after 1 second (1000 milliseconds)
        // setTimeout(function () {
        //   $("#popupModal").modal("hide");
        // }, time);
      }
    </script>
    <script>
      var selectedRole = $("#role-select").val();
      $(".input-role")
        .not(`#role-${selectedRole}`)
        .addClass("d-none")
        .find("input")
        .prop("disabled", true);
      $("#role-select").change(function () {
        var selectedRole = $(this).val();
        $(".input-role")
          .not(`#role-${selectedRole}`)
          .addClass("d-none")
          .find("input")
          .prop("disabled", true);
        $(this).removeClass("d-none").find("input").prop("disabled", false);
        if (selectedRole == "admin") {
          $("#role-admin")
            .removeClass("d-none")
            .find("input")
            .prop("disabled", false);
        } else if (selectedRole == "lecturer") {
          $("#role-lecturer")
            .removeClass("d-none")
            .removeClass("d-none")
            .find("input")
            .prop("disabled", false);
        } else if (selectedRole == "student") {
          $("#role-student")
            .removeClass("d-none")
            .removeClass("d-none")
            .find("input")
            .prop("disabled", false);
        }
      });
    </script>
    <script>
      function validateField(field) {
        if (field.value === "") {
          field.classList.add("error-highlight");
          field.parentNode.nextElementSibling.textContent =
            "This field is required";
        } else {
          field.classList.remove("error-highlight");
          field.parentNode.nextElementSibling.textContent = "";
        }
      }

      const form = document.querySelector(".section.show .inpForm");
      const inputs = form.querySelectorAll("input");
      function checkFullFieldInput() {
        let flag = 1;
        inputs.forEach(function (input) {
          if (!flag) return;
          if (!input.disabled && input.value === "") {
            flag = 0;
            return;
          }
        });
        return flag;
      }
      inputs.forEach(function (input) {
        input.addEventListener("blur", () => {
          validateField(input);
        });
      });

      $(".section.show .inpForm").on("submit", function (event) {
        event.preventDefault();
        const formData = $(this).serialize();

        if (!checkFullFieldInput()) {
          return popUpMessage("fail", "Please fill in all the fields.");
        }
        $.post("/api/auth/register", formData)
          .done(function (data) {
            // Handle success
            popUpMessage(data.status, data.message);
          })
          .fail(function (xhr, textStatus, errorThrown) {
            popUpMessage("fail", xhr.responseText);
            console.log(
              "Error: " + xhr.status + " " + textStatus + " " + errorThrown
            );
          });
      });
    </script>
    <script>
      document
        .getElementById("drop-area")
        .addEventListener("click", function () {
          document.getElementById("input-file").click();
        });

      document
        .getElementById("input-file")
        .addEventListener("change", function (event) {
          var file = event.target.files[0];
          if (
            file.type ===
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ||
            file.type === "application/vnd.ms-excel"
          ) {
            var reader = new FileReader();
            reader.onload = function (e) {
              document.getElementById("drop-area").style.display = "none"; // Hide the drop area
              var details = document.getElementById("file-details");
              details.classList.remove("hidden"); // Show the file details
              details.innerHTML += `
            <tr>
              <td>${file.name}</td>
              <td>${new Date(
                file.lastModified
              ).toLocaleDateString()} ${new Date(
                file.lastModified
              ).toLocaleTimeString()}</td>
              <td>${(file.size / 1024 / 1024).toFixed(2)} MB</td>
              <td>${file.type}</td>
            </tr>
          `;
              document
                .querySelector(".button-update")
                .classList.remove("hidden");
              document
                .querySelector(".button-cancel")
                .classList.remove("hidden");
            };
            reader.readAsDataURL(file);
          } else {
            alert("Please upload only Excel files.");
          }
        });

      document
        .querySelector(".button-cancel")
        .addEventListener("click", function () {
          document.getElementById("drop-area").style.display = "flex"; // Show the drop area
          document.getElementById("file-details").classList.add("hidden"); // Hide the file details
          document.querySelector(".button-update").classList.add("hidden");
          document.querySelector(".button-cancel").classList.add("hidden");
          document.getElementById("input-file").value = ""; // Reset the file input
        });
    </script>
  </body>
</html>
