<%- include('partials/header') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Noodle</title>
  </head>
  <body>
    <%-include('partials/navbar', { activePage: 'none' }) %>
    <div class="mt-5"></div>
    <div id="main" style="height: fit-content !important">
      <div class="d-flex justify-content-center bot-line">
        <span
          id="Manually-trigger"
          class="nav-acc <%= activeSection === 'manually' ? 'active' : '' %>"
          ><a class="btn fs-3" href="/profile">Manually</a></span
        >
        <span
          id="automation-trigger"
          class="nav-acc <%= activeSection === 'automation' ? 'active' : '' %>"
          ><a class="btn fs-3" href="/profile/?activeSection=automation"
            >Automation</a
          ></span
        >
        <span
          id="password-trigger"
          class="nav-acc <%= activeSection === 'password' ? 'active' : '' %>"
          ><a class="btn fs-3" href="/profile/?activeSection=password"
            >Password/Account</a
          ></span
        >
      </div>
      <div
        id="manually-area"
        class="section <%= activeSection === 'manually' ? 'show' : 'd-none' %>"
      >
        <form class="inpForm">
          <div class="mt-5 mb-3">
            <label for="role-select" class="form-label fs-4 fw-bold"
              >Role</label
            >
            <select
              name="role"
              class="form-control rounded-4 fs-4"
              id="role-select"
            >
              <option value="">Choose...</option>
              <option selected value="student">Student</option>
              <option value="lecturer">Lecturer</option>
              <option value="admin">Admin</option>
            </select>
          </div>

          <!-- STUDENT INPUT -->

          <div id="role-student" class="input-role">
            <div class="mb-3">
              <label for="student-id" class="form-label fs-4 fw-bold"
                >Student ID</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="student-id"
                  name="id"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="student-name" class="form-label fs-4 fw-bold"
                >Name</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="student-name"
                  name="name"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="student-year" class="form-label fs-4 fw-bold"
                >Year</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="student-year"
                  name="year"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="student-gmail" class="form-label fs-4 fw-bold"
                >Gmail</label
              >
              <div class="input-group">
                <input
                  type="email"
                  class="form-control rounded-4 fs-4"
                  id="student-gmail"
                  name="gmail"
                />
              </div>
              <div class="error"></div>
            </div>
          </div>

          <!-- LECTURER INPUT -->

          <div id="role-lecturer" class="input-role">
            <div class="mb-3">
              <label for="lecturer-id" class="form-label fs-4 fw-bold"
                >Lecturer ID</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="lecturer-id"
                  name="id"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="lecturer-name" class="form-label fs-4 fw-bold"
                >Name</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="lecturer-name"
                  name="name"
                />
              </div>
              <div class="error"></div>
            </div>

            <div class="mb-3">
              <label for="lecturer-gmail" class="form-label fs-4 fw-bold"
                >Gmail</label
              >
              <div class="input-group">
                <input
                  type="email"
                  class="form-control rounded-4 fs-4"
                  id="lecturer-gmail"
                  name="gmail"
                />
              </div>
              <div class="error"></div>
            </div>
          </div>

          <!-- ADMIN INPUT -->

          <div id="role-admin" class="input-role">
            <div class="mb-3">
              <label for="admin-id" class="form-label fs-4 fw-bold"
                >Admin ID</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="admin-id"
                  name="id"
                />
              </div>
              <div class="error"></div>
            </div>
            <div class="mb-3">
              <label for="admin-name" class="form-label fs-4 fw-bold"
                >Name</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control rounded-4 fs-4"
                  id="admin-name"
                  name="name"
                />
              </div>
              <div class="error"></div>
            </div>

            <div class="mb-3">
              <label for="admin-gmail" class="form-label fs-4 fw-bold"
                >Gmail</label
              >
              <div class="input-group">
                <input
                  type="email"
                  class="form-control rounded-4 fs-4"
                  id="admin-gmail"
                  name="gmail"
                />
              </div>
              <div class="error"></div>
            </div>
          </div>
          <button
            type="submit"
            class="mt-5 btn btn-primary fs-5 mx-auto d-block"
            style="background-color: #0098f9"
          >
            Update</button
          ><!-- Button trigger modal -->
        </form>
      </div>
      <!-- AUTOMATION AREA -->
      <div
        id="automation-area"
        style="padding: 0 200px"
        class="section <%= activeSection === 'automation' ? 'show' : 'd-none' %>"
      ></div>
      <div
        id="password-area"
        style="padding: 0 200px"
        class="section <%= activeSection === 'password' ? 'show' : 'd-none' %>"
      >
        <div class="text-center mt-3 fs-2 fw-bold">Account</div>
        <!-- AVATAR -->
        <div class="avatar mt-3 d-block mx-auto">
          <form class="upload-avatar" enctype="multipart/form-data">
            <img
              aria-expanded="false"
              class="avatar-icon rounded-circle"
              src="/materials/avatar/<%=avatar%>"
              alt="student_picture"
              style="height: 132px; width: 132px"
            />
            <input
              type="file"
              name="file"
              class="file"
              accept="image/jpeg,image/png,image/jpg"
            />
            <div class="file-icon">
              <i class="fa-solid fa-image"></i>
            </div>
          </form>
        </div>

        <form class="inpForm">
          <div class="mt-5 mb-3">
            <label for="current-password" class="form-label fs-4 fw-bold"
              >Current password</label
            >
            <div class="input-group">
              <input
                type="password"
                class="form-control rounded-4 fs-4"
                id="current-password"
              />
            </div>
            <div class="error"></div>
          </div>
          <div class="mb-3">
            <label for="new-password" class="form-label fs-4 fw-bold"
              >New password</label
            >
            <div class="input-group">
              <input
                type="password"
                class="form-control rounded-4 fs-4"
                id="new-password"
              />
            </div>
            <div class="error"></div>
          </div>
          <div class="mb-3">
            <label for="confirm-password" class="form-label fs-4 fw-bold"
              >Confirm new password</label
            >
            <div class="input-group">
              <input
                type="password"
                class="form-control rounded-4 fs-4"
                id="confirm-password"
              />
            </div>
            <div class="error"></div>
          </div>

          <button
            type="submit"
            class="mt-5 btn btn-primary fs-5 mx-auto d-block"
            style="background-color: #0098f9"
          >
            Update</button
          ><!-- Button trigger modal -->
        </form>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="popupModal"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div
            class="modal-body d-flex flex-column gap-3 justify-content-center align-items-center"
            style="height: 250px"
          >
            <i id="popup-sign" style="font-size: 150px"></i>
            <div id="popup-message" class="fs-5 fw-bold text-center"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="user-username" class="d-none"><%= username %></div>
    <%-include('partials/footer') %>
    <script>
      function popUpMessage(status, message, time = 1000) {
        // Show the modal on page load
        const fail_sign = "fa-solid fa-triangle-exclamation text-danger";
        const success_sign = "fa-solid fa-circle-check text-success";
        if (status == "fail") {
          $("#popupModal")
            .find("#popup-sign")
            .removeClass(success_sign)
            .addClass(fail_sign);
        } else {
          $("#popupModal")
            .find("#popup-sign")
            .removeClass(fail_sign)
            .addClass(success_sign);
        }
        $("#popupModal").find("#popup-message").text(message);
        $("#popupModal").modal("show");

        // // Set timeout to hide the modal after 1 second (1000 milliseconds)
        // setTimeout(function () {
        //   $("#popupModal").modal("hide");
        // }, time);
      }
    </script>
    <script>
      var selectedRole = $("#role-select").val();
      $(".input-role")
        .not(`#role-${selectedRole}`)
        .addClass("d-none")
        .find("input")
        .prop("disabled", true);
      $("#role-select").change(function () {
        var selectedRole = $(this).val();
        $(".input-role")
          .not(`#role-${selectedRole}`)
          .addClass("d-none")
          .find("input")
          .prop("disabled", true);
        $(this).removeClass("d-none").find("input").prop("disabled", false);
        if (selectedRole == "admin") {
          $("#role-admin")
            .removeClass("d-none")
            .find("input")
            .prop("disabled", false);
        } else if (selectedRole == "lecturer") {
          $("#role-lecturer")
            .removeClass("d-none")
            .removeClass("d-none")
            .find("input")
            .prop("disabled", false);
        } else if (selectedRole == "student") {
          $("#role-student")
            .removeClass("d-none")
            .removeClass("d-none")
            .find("input")
            .prop("disabled", false);
        }
      });
    </script>
    <script>
      function validateField(field) {
        if (field.value === "") {
          field.classList.add("error-highlight");
          field.parentNode.nextElementSibling.textContent =
            "This field is required";
        } else {
          field.classList.remove("error-highlight");
          field.parentNode.nextElementSibling.textContent = "";
        }
      }

      const form = document.querySelector(".section.show .inpForm");
      const inputs = form.querySelectorAll("input");
      function checkFullFieldInput() {
        let flag = 1;
        inputs.forEach(function (input) {
          if (!flag) return;
          if (!input.disabled && input.value === "") {
            flag = 0;
            return;
          }
        });
        return flag;
      }
      inputs.forEach(function (input) {
        input.addEventListener("blur", () => {
          validateField(input);
        });
      });
      // --------------------------------
      // password section
      const newPass = document.getElementById("new-password");
      const confirmPas = document.getElementById("confirm-password");
      const curPass = document.getElementById("current-password");
      var flagConfirm = 0;
      if ($("#password-trigger").hasClass("active")) {
        function checkConfirm(newP, confirmP) {
          if (
            confirmP.value.length > newP.value.length ||
            confirmP.value != newP.value.slice(0, confirmP.value.length)
          ) {
            confirmP.classList.add("error-highlight");
            confirmP.parentNode.nextElementSibling.textContent =
              "Confirm password is incorrect";
            flagConfirm = 0;
          } else {
            confirmP.classList.remove("error-highlight");
            confirmP.parentNode.nextElementSibling.textContent = "";
            flagConfirm = 1;
          }
        }
        confirmPas.addEventListener("input", () => {
          checkConfirm(newPass, confirmPas);
        });
      }
      // --------------------------------
      $(".section.show .inpForm").on("submit", function (event) {
        event.preventDefault();
        const formData = $(this).serialize();

        if (!checkFullFieldInput()) {
          return popUpMessage("fail", "Please fill in all the fields.");
        }
        if ($("#password-trigger").hasClass("active")) {
          if (!flagConfirm)
            return popUpMessage("fail", "Confirm password is incorrect");
          $.post("/api/auth/updatePassword", {
            curPass: curPass.value,
            newPass: newPass.value,
          })
            .done(function (data) {
              popUpMessage(data.status, data.message);
            })
            .fail(function (xhr, textStatus, errorThrown) {
              popUpMessage("fail", xhr.responseText);
              console.log(
                "Error: " + xhr.status + " " + textStatus + " " + errorThrown
              );
            });
        } else {
          $.post("/api/auth/register", formData)
            .done(function (data) {
              // Handle success
              popUpMessage(data.status, data.message);
            })
            .fail(function (xhr, textStatus, errorThrown) {
              popUpMessage("fail", xhr.responseText);
              console.log(
                "Error: " + xhr.status + " " + textStatus + " " + errorThrown
              );
            });
        }
      });
    </script>
    <script>
      $(".avatar .upload-avatar .file").on("change", function (event) {
        event.preventDefault();
        const file = this.files[0];
        if (this.files && this.files.length > 0) {
          $(".upload-avatar").submit();
        } else {
          $(this).val("");
        }
      });
      function updateImageSrc(imageElement, newImagePath) {
        var timestamp = new Date().getTime(); // Tạo một timestamp
        var newSrc = newImagePath + "?t=" + timestamp; // Thêm timestamp vào URL
        $(imageElement).attr("src", newSrc);
      }

      $(".avatar .upload-avatar").on("submit", function (event) {
        event.preventDefault();
        var formData = new FormData($(this)[0]);
        const category = "avatar";
        const username = $("#user-username").text();
        console.log(username);
        $.ajax({
          url: `http://localhost:3000/api/upload/?category=${category}&username=${username}`, // URL mà bạn muốn gửi file đến
          type: "POST",
          data: formData,
          contentType: false,
          processData: false,
          success: function (response) {
            console.log("File uploaded successfully");
            console.log(response);

            updateImageSrc(
              ".avatar-icon",
              `/materials/avatar/${response.filename}`
            );
          },
          error: function (response) {
            console.error("Error occurred during file upload");
            // Xử lý khi có lỗi xảy ra
          },
        });
      });
    </script>
  </body>
</html>
